<div class="cluster__header">Заголовок</div>
    <div class="cluster__link">
        <a class="search_by_address">$[properties.address]</a>
    </div>
<div class="cluster__review">$[properties.review]</div>