<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Loftschool Graduation Project #1</title>
  <script src="https://api-maps.yandex.ru/2.1/?apikey=14a6e73a-dae4-4854-a485-71f03cb739a9&lang=ru_RU"
    type="text/javascript"></script>
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500&display=swap&subset=cyrillic"
    rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <div id="map"></div>
  </div>
</body>

</html>